body {
  width: 100%;
  
}

.block {
  margin-top: 10px;
  background-color: blanchedalmond;
}

.block_1 {
  background-color: silver;
}

.block_2 {
  margin: 20px;
  background-color: aquamarine;
}

.block_3 {
  width: 100px;
  background-color: whitesmoke;
}

.block_4 {
  background-color: violet;
}

.block_5 {
  background-color: blue;
}

.block_6 {
  background-color: green;
}